body {
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

.coco-martin-bg {
    height: 100%;
    width: 100%;
    position: relative;
}

.center-card {
    background-color: bisque;
    opacity: 0.9;
    height: 350px;
    width: 450px;
    position: absolute;
    bottom: 90px;
    display: inline-flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 30px;
}

.full-name, .section {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(32, 32, 32);
    margin: 5px;
}

.introduction {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(48, 48, 48);
    font-size: 20px;
    margin: 10px;
}

.link-icons-container {
    margin-left: 10px;
    margin-top: 20px;
    height: 80px;
    width: 200px;
    max-height: 60px;
    max-width: 200px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}