body {
    background-color: rgb(253, 237, 217);
    margin: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

table, th, tr, td {
    border: 1px solid rgb(255, 176, 97);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    text-align: center;
    color: #8B4513;
}

table {
    background-color: bisque;
    height: 700px;
    width: 900px;
    table-layout: fixed;
}

th, td strong {
    font-size: 50px;
    color: #975220;
}

h2 {
    font-size: 35px;
    color: #975220;
    margin-bottom: 100px;
}

h3 {
    font-size: 30px;
    color: #975220;
    margin-top: 20px;
    margin-bottom: 20px;
}

button {
    margin-top: 60px;
    background-color: #975220;
    border: 1px solid #975220;
    height: 40px;
    width: 400px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: rgb(254, 234, 208);
}

button:hover {
    cursor: pointer;
}

button:active {
    transform: scale(0.980);
}

input[type="text"] {
    background-color: rgb(254, 234, 208);
    height: 40px;
    width: 400px;
    border: 1.5px solid #8B4513;
    color: #975220;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

p {
    margin-top: 25px;
    color: #975220;
}

::placeholder {
    color: rgb(239, 178, 117);
}

.calculation-container {
    background-color: rgb(255, 206, 145);
    height: 700px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@keyframes tilt-shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}